{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationTeacherForm) }}
    {{ form_row(registrationTeacherForm.lastName) }}
    {{ form_row(registrationTeacherForm.firstName) }}
    {{ form_row(registrationTeacherForm.description) }}
    {{ form_row(registrationTeacherForm.email) }}
    {{ form_row(registrationTeacherForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationTeacherForm.profilePicture) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationTeacherForm) }}
{% endblock %}